
*,
*::before,
*::after {
    box-sizing: border-box;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.lazyload {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0;
    transition: all 600ms ease-out;
}

.lazyload.loaded {
    opacity: 1;
}

.clear {
    clear: both;
}

h1 {
    margin: 0.667em 0;
}

html {
    border: 0;
    padding: 0;
    margin: 0;
    font: 14px 'Times New Roman', arial;
    color: #000;
}

body {
    border: 0;
    margin: 0 auto;
    width: 1280px;
    max-width: 100%;
    padding: 0 10px 0 70px;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

nav {
    width: 220px;
    float: left;
    font-weight: bold;
}

main {
    width: calc(100% - 221px);
    float: right;
}

ul {
    margin: 0;
    list-style: none;
    padding-left: 10px;
}

a {
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
}

footer {
    position: absolute;
    left: 100px;
    bottom: 0;
    right: 0;
}

.site-header {
    font-size: 5rem;
    float: left;
}

.mt-20 {
    margin-top: 20px;
}

@media screen and (max-width: 500px) {
    body {
        padding: 10px;
    }
    main {
        margin-top: 30px;
        width: 100%;
    }
}

.responsive {
    max-width: 100%;
}

.col-3 {
    float: left;
}

.col-3 {
    width: 24.99%;
}

