<footer role="footer">
    <h1>
        <a href="{{ "index" | absolute_url }}" title="{{ site.title }}">
            <img class="lazyload" data-src="{{ "/assets/img/logo.png" | absolute_url }}" title="{{ site.title }}" alt="{{ site.title }}" />
        </a>
    </h1>
    <nav role="footer-nav">
        <ul>
            <li>
                <a href="{{ "/" | absolute_url }}" title="Work">Work</a>
            </li>
            <li>
                <a href="{{ "/about" | absolute_url }}" title="About">About</a>
            </li>
            <li>
                <a href="{{ "/blog" | absolute_url }}" title="Blog">Blog</a>
            </li>
            <li>
                <a href="{{ "/contact" | absolute_url }}" title="Contact">Contact</a>
            </li>
        </ul>
    </nav>
    {% include social.html %}
    <p class="copy-right">&copy; 2018 Sem Postma All rights Resved</p>
</footer>
