<nav class="sidebar">
    <ul id="nav-items">
        {% for item in site.pages %}
            {% if item.layout == "page" %}
                {% assign classes = [] %}
                {% if item.title | downcase | contains: "contact" %}{% classes | concat: "mt" %}{% endif %}
                {% if page.url == item.url %}{% classes | concat: "active" %}{% endif %}
                <li>
                    <a{% if classes.size != 0 %} class="{{ classes | join: "" }}"{% endif %} href="{{ item.url | asbolute_url }}">{{ page.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
