{% assign default_paths = site.pages | map: "path" %} {% assign page_paths = site.header_pages | default: default_paths %}

<nav class="sidebar" role="header">
    <div class="container">
        <h1>
            <a href="{{ "/"  | absolute_url }}" title="{{ site.title }}">
                <img class="lazyload" width="66" height="66" data-src="{{ "/assets/img/logo.png" | absolute_url }}" />
            </a>
        </h1>
        <nav role="header-nav" class="navy">
            <div id="menu-button"><span></span><span></span><span></span>Navigation</div>
            <ul id="nav-items">
                <li{% if page.title == "Work" %} class="nav-active"{% endif %}>
                    <a href="{{ "/"  | absolute_url }}" title="Work">Work</a>
                </li>
                <li{% if page.title == "About" %} class="nav-active"{% endif %}>
                    <a href="{{ "about/" | absolute_url }}" title="About">About</a>
                </li>
                <li{% if page.title == "Blog" %} class="nav-active"{% endif %}>
                    <a href="{{ "blog/" | absolute_url }}" title="Blog">Blog</a>
                </li>
                <li{% if page.title == "Contact" %} class="nav-active"{% endif %}>
                    <a href="{{ "contact/" | absolute_url }}" title="Contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</nav>